.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.LICENSE.txt
.editorconfig
.eslintrc.json
.markdownlint.json
.prettierc.json
.vscode-test*
eslint.config.js
jest.config.js
tsconfig*
webpack.config.js
*.lock
TODO.md
__mocks__/**
.github/**
.venv/**
.DS_Store


# .gitignore contents
out
node_modules
.vscode-test/
*.vsix
**/.DS_Store
temp/
